<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqjzGbO9rOh0yKOAvgil16lZx43f5jMis</string>
	<key>GCM_SENDER_ID</key>
	<string>300419313865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andresaleu.RickAndMortyLibrary</string>
	<key>PROJECT_ID</key>
	<string>rickandmortylibrary-ed59e</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmortylibrary-ed59e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:300419313865:ios:429092f6b665db5d61dd18</string>
</dict>
</plist>
